{
    "extends": "airbnb-base",
    "rules": {
        "linebreak-style": ["error", "windows"],
        "no-console": "off",
        "no-unused-expressions": ["error", { "allowTernary": true }],
    }
}
