.info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img.gif-original__img {
  width: auto;
  height: auto;
}

form.search__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
}

.form {
  width: 500px;
  min-width: 500px;
  font-family: sans-serif;
  font-size: 24px;
  color: #f54c46e0;
}

.edit-input-wrapper {
  border-bottom: white 2px solid;
}

input.edit__input {
  background: transparent;
  border: none;
  width: 100%;
  outline-width: 0px;
  font-size: 24px;
  padding-top: 30px;
  padding-bottom: 10px;
  color: #f54c46e0;
}

.button {
  width: 200px;
  height: 40px;
  padding: 5px;
  text-align: center;
  font-family: sans-serif;
  font-size: 36px;
  color: #f54c46e0;
}

.button_hover:hover {
  color: white;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.file-input {
  display: flex;
  justify-content: center;
}

.input-file__input {
  display: none;
}

.input-file__label {
  font-size: 30px;
  padding: 5px 30px;
  border: #f54c46e0 2px solid;
  cursor: pointer;
}

.input-file__label:hover {
  color: white;
  border: white 2px solid;
}

.box {
  position: absolute;
  top: 50px;
  left: 50px;
}
